@inherits AddRoleDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel"><strong>Add New Role</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@RoleModel" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary Model="@RoleModel" />

                        <div class="form-group">
                            <label for="name">Name : </label>
                            <InputText id="name" class="form-control" @bind-Value="@RoleModel.Name" placeholder="Enter name"></InputText>
                            <ValidationMessage For="@(() => RoleModel.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="description">Description : </label>
                            <InputTextArea id="description" class="form-control" @bind-Value="@RoleModel.Description" placeholder="Enter description"></InputTextArea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" @onclick="Close" data-dismiss="modal">Close</button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
